## Series

## Semelhante as matrizes do NumPY porém com rótulos nos eixos

In [1]:
import numpy as np
import pandas as pd

### Criando series

In [2]:
lista1 = ['a','b','c']
lista2 = [1,2,3]
arr = np.array([10,20,30])
d = {'a':100, 'b':200, 'c':300}

In [5]:
pd.Series(data = lista2, index = lista1)

a    1
b    2
c    3
dtype: int64

In [6]:
pd.Series(lista2, lista1)

a    1
b    2
c    3
dtype: int64

In [7]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [9]:
pd.Series(arr, lista1)

a    10
b    20
c    30
dtype: int32

In [10]:
pd.Series(d)

a    100
b    200
c    300
dtype: int64

### Utilizando índices

In [11]:
serie1 = pd.Series([1, 2, 3, 4], index = ['João', 'Pedro', 'Maria', 'Carlos'])

In [12]:
serie1

João      1
Pedro     2
Maria     3
Carlos    4
dtype: int64

In [13]:
serie2 = pd.Series([1,2,5,6], index = ['Pedro', 'Roberta', 'João', 'Carlos'])

In [14]:
serie2

Pedro      1
Roberta    2
João       5
Carlos     6
dtype: int64

In [15]:
serie1['João']

1

In [16]:
serie2['Roberta']

2

In [17]:
serie1 + serie2

Carlos     10.0
João        6.0
Maria       NaN
Pedro       3.0
Roberta     NaN
dtype: float64